[2014-12-23 18:43] ariel-phet opened #1 ""Medium" Branding Option and Clarifying How to Brand"
@kathy-phet requested that we have an intermediate option for branding that says something like "adapted from" and the PhET logo in black and white (slightly different than shown in the email below)

We also want to make clearer for users when and how they show brand our sims when they for them.
## Kathy's email is copied below for reference:

Hi Sam,

I just got off Skype with ----.

He is largel

[2014-12-26 08:59] samreid commented on #1
[from email]

Sounds good.  Can we discuss timing and prioritization?  Does ------'s group have a specific publication timeline when they will be making these public (or are they already)?  Also, do you want to i18nize the "Adapted from" text?  May be odd for the entire sim to be in Spanish except for that text?

If it is not a "rush job" perhaps it would be good to schedule a time slot for this o

[2014-12-26 08:59] samreid commented on #1
@ariel-phet responded:

[2015-01-08 19:28] samreid commented on #1
@ariel-phet said we should i18nize that "adapted from" text and put the logo in black + white (and one that works against a white background).  Probably "adapted from" will be on 2 lines.

@ariel-phet also said, we could put the "adapted from" outside of the logo.

@ariel-phet maybe some documentation about this in the brand repo.

[2015-01-08 19:29] samreid commented on #1
We need to decide how this should work technically--whether it will be a branch or another repo, or something else.

[2015-01-08 19:32] samreid commented on #1
Next step is for @ariel-phet to get some artwork.  I can work on this after I get back from conference next week.

[2015-01-12 16:41] ariel-phet commented on #1
@samreid see the mockups below.

If you need the PhET logo in the two different black and white version shown below, email @amanda-phet and give her the specifications for what you need.

![homescreen mockup-04](https://cloud.githubusercontent.com/assets/4051174/5706561/2a7de490-9a3f-11e4-833b-d8c530556278.jpeg)
![homescreen mockup-03](https://cloud.githubusercontent.com/assets/4051174/5706564/2ce

[2015-01-13 04:40] samreid commented on #1
@ariel-phet What do you want to do with the splash screen?  If we do nothing else, it will be blank (the default for brand).

[2015-01-13 05:15] samreid commented on #1
@ariel-phet: Also, should the "adapted from" text be part of the PhET button?  I was planning on not, but just thought I'd double check.

[2015-01-13 05:18] samreid commented on #1
joist's ohtwo branch will be merging to master on Jan 20.  If we do this work before then, it will have to be ported to ohtwo properly and retested after merge.

[2015-01-13 05:42] samreid commented on #1
Running into complication because of how the PhETButton is handled differently in the navbar vs homescreen--same scales are giving different text stroke thickness.

[2015-01-13 16:12] samreid commented on #1
I have pushed initial work on this issue, but there is a serious issue noted in the AdaptedFromPhETText.js

[code]

@jonathanolson's help could be invaluable here.

[2015-01-13 16:35] samreid commented on #1
Also note: the selected font above looks horrible in Firefox

[2015-01-13 18:46] samreid commented on #1
@ariel-phet Should we add any changes to the About dialog?  How about adding a link to the PhET homepage in the menu?

[2015-01-13 20:00] samreid commented on #1
@ariel-phet I have finished preliminary work on this.  Should we set up a way for you to review it?  I think 3rd parties could start using it soon if we want.

[2015-01-14 19:21] ariel-phet opened #2 "changes for About dialog when unbranded or 'adapted from'"
Should version number?

Should we append sim title with (adapted)

Other changes?

Link to the phet website?

[2015-01-15 17:33] ariel-phet commented on #2
Lots of questions, should discuss with @kathy-phet

[2015-02-11 18:51] ariel-phet commented on #2
@kathy-phet envisions unbranded being when people use our libraries/assets to make a pretty unique sim or a topic we do not cover. In this case, the about dialog should have some verbiage about powered by scenery with University of Colorado there, acknowledgement of PhET down near bottom of about dialog.

for medium branded sims: these include even just a major "paring" down of a sim, such as a mu

[2015-02-12 20:53] samreid commented on #2
Can you comment on priority?  If this is needed soon, perhaps it would be good for @aaronsamuel137 to take the lead.

[2015-04-10 00:57] samreid opened #3 "branch: together"
This branch is created for managing changes in the About Dialog required for together simulations.  See https://github.com/phetsims/together/issues/60

[2015-05-09 18:36] samreid commented on #1
Assigned to @ariel-phet based on the above comment.  I'm still on leave--perhaps another developer can review what was done here and make it available for you to test out.

[2015-05-22 18:55] pixelzoom commented on #3
I see no About dialog changes in sims published with together. For example, see http://www.colorado.edu/physics/phet/dev/html/beaker/1.0.0-together.5/beaker_en.html.
Please explain.

[2015-05-22 19:32] pixelzoom commented on #3
Skype:

[5/22/15, 12:55:51 PM] Chris Malley: Are you using the 'together' branch of phetsims/brand when publishing together-enabled sims?
[5/22/15, 1:29:39 PM] John Blanco: No, but perhaps I should be for the ones that go to Metacog.  I'd have to look at it.  I'm using "adapted from phet" for the ETS sim (beaker), but have been supplying normally branded sims to Metacog.  This may be a question fo

[2015-05-26 23:58] ariel-phet opened #4 "decide what 'phet-io' brand looks like"
@amanda-phet and @arouinfar - we should discuss some options for branding sims that have been outfitted with data collection.

@kathy-phet has suggested some modification of the PhET logo that includes the word "data" -- something that implies "PhET + data collection". If we come up with a preliminary idea, we can ask @mariahphet to implement it.

[2015-05-27 02:54] kathy-phet commented on #4
Another option could also be the word "Interoperable" in front of and smaller than our logo, since that is what we have settled on for naming these sims.

Kathy

Sent from my iPhone

On May 26, 2015, at 5:58 PM, Ariel Paul <notifications@github.com<mailto:notifications@github.com>> wrote:

@amanda-phethttps://github.com/amanda-phet and @arouinfarhttps://github.com/arouinfar - we should discuss som

[2015-05-28 16:59] pixelzoom commented on #3
This branch no longer exists. @samreid was this branch deleted? Or renamed? Or was this issue referring to the "together" branch of phetbrand/brand?

[2015-05-28 17:01] pixelzoom opened #5 "branch: adapted-from-phet"
@samreid or @jbphet Can you please document this branch?

[2015-05-28 21:26] pixelzoom commented on #3
It sounds like this issue should have been created for the phetbrand/brand repository, not this repo. Skype conversation with @samreid:

[5/28/15, 3:15:23 PM] Chris Malley: can you comment on what the 'together' branch is in phetbrand/brand ?
[5/28/15, 3:15:36 PM] Sam Reid: checking....
[5/28/15, 3:21:23 PM] Sam Reid: my memory is fuzzy here, but what i see is one commit “Added custom wording for

[2015-05-29 20:16] pixelzoom commented on #3
Moved this issue to https://github.com/phetbrand/brand/issues/1.  Closing.

[2015-05-29 20:16] #3 closed, assigned to pixelzoom

[2015-05-29 20:18] pixelzoom commented on #5
Reassigning this to @samreid, since he appears to have created this branch and made most of the commits.

[2015-06-30 21:03] pixelzoom opened #6 "adaptedFromPhET field missing from Brand.js"
Brand.js has a `{boolean} adaptedFromPhET` field that indicates whether the brand is adapted from PhET. That fields is explictly present in the "adapted-from" branch (`adaptedFromPhET: true`), but is missing from master and phetbrand/brand/js/Brand.js.  It should be explicitly set (`adaptedFromPhET: false`), so that we know that the property exists.

[2015-06-30 21:11] pixelzoom commented on #6
Added field where missing in all existing branches of phetsims/brand and phetbrand/brand.

Closing.

[2015-06-30 21:11] #6 closed, assigned to pixelzoom

[2015-07-03 15:42] pixelzoom opened #7 "broken brands"
The 'master' and 'adapted-from' branches of phetsims/brand are currently very broken. Opening the AboutDialog prints numerous errors to the console.

[2015-07-03 15:43] pixelzoom commented on #7
Console output:

![screenshot_546](https://cloud.githubusercontent.com/assets/3046552/8501969/f5469b68-2167-11e5-95bb-bd7fefbafcba.png)

[2015-07-03 15:47] pixelzoom opened #8 "branch: phet"
This branch contains the "PhET" brand.  It was migrated from phetbrand/brand 'master' branch.

[2015-07-03 15:48] pixelzoom opened #9 "branch: interoperable"
The "together" branch contains the brand for interoperable PhET sims. It was migrated from phetbrand/brand 'together' branch.

[2015-07-03 15:53] pixelzoom commented on #7
I temporarily fixed this by using ' ' (space) instead of '' (empty string) for defaults.  Longterm, the code should be robust enough to handle empty string.

[2015-07-03 16:01] pixelzoom commented on #9
Renamed this branch to "interoperable".

[2015-07-03 16:43] pixelzoom commented on #7
Permanently fixed by making joist handle null values and setting defaults to null in Brand.js (all branches).

[2015-07-03 16:43] #7 closed, assigned to pixelzoom

[2015-07-06 21:10] pixelzoom opened #10 "insufficient doc for Brand.js fields"
Here's what doc looks like for Brand.js fields in 'master':

[code]

This tells us nothing about where these strings and links will actually appear, what happens when adaptedFromPhET is true, etc.  One must resort to searching the code for occurrences of these fields. For example, only by searching for "links" did I discover that the links are added to the bottom of the About dialog.

[2015-07-08 16:37] samreid commented on #10
Note that `adaptedFromPhET` is no longer used and an `id` field is used instead, see https://github.com/phetsims/joist/issues/271

[2015-07-09 02:29] samreid opened #11 "Move all brands to master"
It has been difficult to develop within the brand repository with everything in different branches.  As @pixelzoom put it, branches are an inappropriate technology to use to solve this problem.  At our recent developer meeting, we decided to move the brand branches all to master and use query parameters to specify the brand in requirejs mode, and build-local.json + grunt options (latter overrides

[2015-07-09 17:54] pixelzoom opened #12 "change brands to use new licensing URL"
'phet' and 'interoperable' branches use this URL for licensing in Brand.js:

`url: 'http://phet.colorado.edu/en/html-terms-privacy-and-licensing'`

When the website is updated, this should be change to the new URL.

[2015-07-09 18:13] samreid opened #13 "decide what 'adapted-from-phet' brand looks like"
JB (Requires KP): What should the default brand be for someone that just checks out our sim?  Right now it is blank.
SR: An alternative would be “adapted from PhET”
Everyone agreed “adapted from PhET” would be a good new default
Revisit the README.md in https://github.com/phetsims/brand
Maybe put a note that PhET is trademarked and can only be used with the expressed written consent.
Put a comment

[2015-07-10 20:04] pixelzoom commented on #13
Here's Brand.js for the 'adapted-from-phet' brand:

[code]

Does PhET want `name`, `copyright` and/or `links` fields filled in? If so, with what?

[2015-07-10 20:07] pixelzoom commented on #13
Also... If PhET fills in its name, copyright, and links, then is it anticipated that a 3rd-party can change that information and still have it be an 'adapted-from-phet' brand?

I was going to move 'adapted-from-phet' to 'master', but I'm holding off until the above questions are answered.

[2015-07-10 22:47] pixelzoom opened #14 "logos needed for 'interoperable' brand"
As noted in https://github.com/phetsims/joist/issues/258#issuecomment-120543577, the logos for the 'interoperable' brand are currently the same as the 'phet' brand.  According to @ariel-phet this should be changed.

[2015-07-10 22:59] samreid commented on #14
I believe this is being worked on in https://github.com/phetsims/tasks/issues/268 but good to track here as well (for integrating the completed artwork), so let's leave this open.

[2015-07-10 23:05] samreid opened #15 "The registered trademark is very difficult to see."
I'm on macbook air using a full size (but not full screen) chrome, with the dock showing, and the circle-r is very very tiny!  Looks indecipherable at this size.

![image](https://cloud.githubusercontent.com/assets/679486/8630648/b5c16c52-2725-11e5-91ae-ecdec450fff5.png)

[2015-07-10 23:08] samreid commented on #15
Not much better for the colored logo:

![image](https://cloud.githubusercontent.com/assets/679486/8630678/3b2c2260-2726-11e5-92e0-d153630b6b46.png)

[2015-07-10 23:16] pixelzoom commented on #15
[7/10/15, 5:07:55 PM] Chris Malley: Sam, re: https://github.com/phetsims/brand/issues/15... I'm in the middle of creating dev version to show each brand and navbar background. doing so is a lot of work. sounds like I should stop?
[7/10/15, 5:08:55 PM] Sam Reid: Well, how does the trademark look on your machine?
[7/10/15, 5:10:26 PM] Chris Malley: Talking to AP right now... He says it was approved

[2015-07-10 23:17] pixelzoom commented on #15
[7/10/15, 5:17:06 PM] Chris Malley: Compare with this Coca Cola logo: http://www.coca-cola.com/global/glp.html
[7/10/15, 5:17:32 PM] Chris Malley: or do a Google search on any trademark and look at the size of the (R).

[2015-07-10 23:20] samreid commented on #15
Here, I blew that up for you:

![image](https://cloud.githubusercontent.com/assets/679486/8630802/b6a49f48-2727-11e5-81d8-20a3610662b6.png)

The circle is getting clipped or something.

[2015-07-10 23:25] samreid commented on #15
I tried launching on Chrome on my high-res screen and it looks like this:

![image](https://cloud.githubusercontent.com/assets/679486/8630858/9fffac0a-2728-11e5-963b-2f9594b1ec23.png)

[2015-07-10 23:27] samreid commented on #15
Looks pretty bad in firefox:

![image](https://cloud.githubusercontent.com/assets/679486/8630864/e19eaa62-2728-11e5-9e2f-ea4f99d03e27.png)

[2015-07-10 23:32] samreid commented on #15
Looks like the source PNG is clipped, this is what it looks like in photoshop:

![image](https://cloud.githubusercontent.com/assets/679486/8630907/8ad049e2-2729-11e5-9faf-6a7b2fe7e9fb.png)

[2015-07-10 23:39] pixelzoom commented on #15
[7/10/15, 5:22:13 PM] Jonathan Olson: Is the logo SVG? PNG where the circle is right at the edge?
[7/10/15, 5:23:27 PM] Chris Malley: spash is splash.svg.  phetbutton is logo.png or logo-on-white.png.
[7/10/15, 5:23:58 PM] Chris Malley: image files live in brand/images/
[7/10/15, 5:25:12 PM] Jonathan Olson: yeah there should ideally be an extra pixel, not having the (R) go right to the edge
[7/10/

[2015-07-10 23:41] pixelzoom commented on #15
See https://github.com/phetsims/joist/issues/258#issuecomment-120551152 for dev versions showing all 5 revised logo files.

[2015-07-11 00:01] pixelzoom commented on #15
Experiments with PhetButton using mipmap plugin indicated that both the (R) and the center of the 'h' in 'PhET' look better.

[2015-07-11 00:11] pixelzoom commented on #15
We're going to use mipmap for the logo in PhetButton. This will require adding the mipmap plugin to all config.js files.  The image files may already be bigger than needed (273x108), since PhetButton is scaling that by 0.28. @samreid will experiment and provide @ariel-phet with new image dimensions.  Then @ariel-phet will generate the 4 images files needed - logo.png, logo-white.png, for 2 brands:

[2015-07-11 00:16] pixelzoom commented on #15
Summarized what we're going to do in https://github.com/phetsims/joist/issues/258#issuecomment-120554784, moved work back over to that issue, closing this issue.

[2015-07-11 00:16] #15 closed, assigned to ariel-phet

[2015-07-11 02:57] samreid commented on #13
Leaving these as null means the about dialog will show no company, copyright statement or links, which I think is appropriate. (Not sure what you were thinking may make sense here).  The one exception I can think of is whether we want to have an "adapted from PhET" link, where PhET links back to our homepage and people could take it out if the wanted to.

[2015-07-13 15:09] pixelzoom commented on #13
Here's an About dialog and navbar for the 'phet' brand:

![screenshot_563](https://cloud.githubusercontent.com/assets/3046552/8652853/528a19e8-293e-11e5-9207-6796cf57f767.png)

And for the 'adapted-from-phet' brand:

![screenshot_562](https://cloud.githubusercontent.com/assets/3046552/8652863/58d35594-293e-11e5-96cb-be91da006d27.png)

Keeping in mind that this will now be the default brand, which

[2015-07-13 15:31] pixelzoom commented on #13
Btw...  This issue:

... is an issue with all brands. There is no brand-specific logic for adding credits, they are added regardless of brand.

[2015-07-13 16:19] samreid opened #16 "Allow logos of any width"
It makes sense for us to suggest (and possibly even enforce) the logo height since it will appear in the navbar, but we should lift the restriction of the required width as well.

[2015-07-13 16:19] samreid commented on #16
From Skype:

[7/13/15, 10:16:10 AM] Sam Reid: Something else I think we’ll need to do for the icons is to stop prescribing width+height and just prescribe the height (and support any width of button, for logos that happen to be wider or thinner).
[7/13/15, 10:17:24 AM] Chris Malley: which icons?
[7/13/15, 10:17:34 AM] Sam Reid: the logo
[7/13/15, 10:17:35 AM] Chris Malley: phet logos?
[7/13/15, 10

[2015-07-14 19:18] ariel-phet commented on #13
@pixelzoom - my inclination would be to remove pretty much everything except the sim name and the version, as well as say something like "Adapted from the PhET sim Hooke's Law"

We really do not know how people are going to use the adapted from brand even if we put clear instructions. I am guessing a common use case is going to be hard coded translations (which we have already seen), but since the

[2015-07-16 17:04] pixelzoom commented on #12
7/16/15 status meeting, request by @kathy-phet:

• Use the correct URL in Brand.js (URL to be determined)
• Put up the webpage, even if it's a copy of what currently exists.
• Maintain redirect for old URL
• Required for "Summer 2015 redeploy"

[2015-07-16 18:31] pixelzoom opened #17 "which brands should show credits?"
7/16/15 dev meeting: phet and interoperable brands should have both PhET team credits and Translation Credits.

PhET team credits will be done via logic in AboutDialog.js, `if ( Brand.id === 'phet' || Brand.id === 'interoperable' )

Translation Credits will be done via "links" field in Brand.js.

[2015-07-16 18:41] pixelzoom commented on #17
The "Thanks" section should also only be in phet and interoperable brands only.

[2015-07-16 18:42] pixelzoom commented on #4
Changed the name of this issue.

Includes:
• logos
• About dialog contents
• PhET menu items

[2015-07-16 18:43] pixelzoom commented on #4
@kathy-phet Should this be labeled "Summer 2015 redeploy"? If we don't do it before then, we'll be stuck with English-only interoperable sims until we do another redeploy.

[2015-07-16 18:44] pixelzoom commented on #14
This is being tracked in #4.

[2015-07-16 18:44] #14 closed, assigned to ariel-phet

[2015-07-16 18:45] pixelzoom commented on #4
@kathy-phet Never mind. We'll have to redeploy sims anyway to instrument them.  So this can wait.

[2015-07-16 18:45] pixelzoom commented on #13
Renamed this issue.

Decisions to be made:
• logos
• About dialog contents
• PhET menu items

[2015-07-16 18:47] pixelzoom opened #18 "create an empty brand that 3rd parties can fill in"
Decide what to call this brand.

[2015-07-16 18:48] pixelzoom commented on #2
This issue is replaced by various other issues that discuss what specific brands look like. Closing.

[2015-07-16 18:48] #2 closed, assigned to ariel-phet

[2015-07-16 18:49] pixelzoom commented on #1
Some of this work has been done. The remainder moved to https://github.com/phetsims/brand/issues/18. Closing.

[2015-07-16 18:49] #1 closed, assigned to ariel-phet

[2015-07-16 19:08] pixelzoom commented on #17
PhET team credits and Thanks have been addressed via logic in AboutDialog.

Translation Credits was addressed in phetsims/joist#163.

Closing.

[2015-07-16 19:08] #17 closed, assigned to pixelzoom

[2015-07-16 19:11] pixelzoom opened #19 "make 'adapted-from-phet' the default brand"
Broke this issue out of https://github.com/phetsims/brand/issues/13.

Until all brands are in master, this means moving the 'adapted-from-phet' branch to master.

[2015-07-16 20:55] aaronsamuel137 commented on #12
I put the licensing at the new url: licensing/html and added a redirect. We discussed potentially using a different url, but since there wasn't one decided upon I went with the existing thought of licensing/html.

[2015-07-16 21:37] samreid commented on #19
@pixelzoom is this complete?

[2015-07-16 21:46] pixelzoom commented on #12
@aaronsamuel137 make sure you update the all branches of Brand.js that use this URL.

[2015-07-16 21:55] pixelzoom commented on #19
No, hasn't been done.  Was potentially waiting until all brands are in master.  And doesn't need to be addressed for S2015R.

[2015-07-17 14:07] samreid commented on #18
Alternatively: make it trivial to modify the "adapted from PhET" brand to make it the client's brand and provide instructions on how to do so.

[2015-07-17 14:12] samreid commented on #12
I know there was some dissent at yesterday's meeting, but I wanted to throw in my $0.02 and say I think licensing/html will be good.

[2015-07-22 15:49] aaronsamuel137 commented on #12
Forgot to reference commit on branch phet: 3c45cb6fe87c342c377a90453be9fa8649818f59

[2015-07-22 15:50] aaronsamuel137 commented on #12
This should be ready to go, assigning to @pixelzoom for review.

[2015-07-27 04:07] jessegreenberg opened #20 "Interoperable and adapted-from-phet branches failing build"
Found while testing builds for review of phetsims/joist#163.  Logo images have the error "missing-license.json".  For phetsims/chipper#181, I notice that only the phet branch received the txt -> json conversion.

@samreid should interoperable and adapted-from-phet branches have the same (or similar) txt -> json license conversion?

[2015-07-27 04:17] samreid commented on #20
Yes, thanks for pointing this out.  I'll take care of it shortly.

[2015-07-27 04:27] samreid commented on #20
OK I updated the license files and tested that all 4 branches build properly with `grunt build-no-lint` in hookes-law.  Please report any other trouble you see.

[2015-07-27 04:27] #20 closed, assigned to samreid

[2015-08-02 17:57] samreid commented on #5
This branch is for groups that are making "Adapted from PhET" branded sims.  This branch can be deleted and the issue closed when we complete: https://github.com/phetsims/brand/issues/11.  Unassigning.

[2015-08-03 02:35] samreid commented on #19
I'll be working on some other branding issue in the near future, so I'll assign this to me and take a look at it as well.

[2015-08-03 02:41] samreid commented on #11
Notes from Thursday July 9 meeting:

JB (Requires KP): What should the default brand be for someone that just checks out our sim?  Right now it is blank.
- SR: An alternative would be “adapted from PhET”
  - Everyone agreed “adapted from PhET” would be a good new default
  - Revisit the readme.md in https://github.com/phetsims/brand
  - Maybe put a note that PhET is trademarked and can only be use

[2015-08-03 02:43] samreid commented on #11
It looks like the default brand specification is mentioned in #19.  I'll create a separate issue for the readme.md updates.

[2015-08-03 02:44] samreid opened #21 "Update the README.md file"
From #11:
- Revisit the readme.md in https://github.com/phetsims/brand
- Maybe put a note that PhET is trademarked and can only be used with the expressed written consent.
- Put a comment in the phet brand that this is “hands off” federal trademarked one.

[2015-08-03 02:54] samreid commented on #21
We should also indicate that the PhET logo (AI/PNG/SVG) does not fall under the MIT license.  In fact, I'm not sure what the best license for this repo is.

[2015-08-03 03:03] samreid commented on #11
Looking for slick ways to move branches to a folder and maintain history, not finding them but not sure it is that important for the Brands.

[2015-08-03 03:10] samreid commented on #11
As a step in moving all brands to master, it seems like a good idea to move the images into the Brand instance, so the logo can be accessed as:

[code]

However, I'm not sure how we will handle the splash screen which has to be loaded before requirejs mode starts.

[2015-08-03 03:15] samreid commented on #11
Not sure how to do conditional requirejs statements for requirejs time or build time, but I saw this issue: https://github.com/jrburke/requirejs/issues/451 which may help.

[2015-08-03 03:19] samreid commented on #11
So it seems like we need a brand plugin which will use query parameters to determine what to load during requirejs time and command line arguments to decide what to build into the compiled app.  This will make it so we can include only the required images into the build.  Still will need custom handling for the splash screen though.

[2015-08-03 03:33] samreid commented on #11
Moving things to a brand plugin may also mean moving from Brand.js to Brand.json.

Thinking out loud here in case @jonathanolson @jbphet or @pixelzoom have any other ideas.

[2015-08-03 03:49] samreid commented on #11
Brand.getLinks cannot be a function if it is switching to json.

[2015-08-03 04:02] samreid commented on #11
Something like https://github.com/jensarps/AMD-feature may be the way to allow us to use code & images and still get a build that only includes the appropriate images.

[2015-08-03 04:49] samreid commented on #11
Skype thread between @samreid and @jonathanolson:

[8/2/15, 10:05:09 PM] Sam Reid: Hi there, I’m struggling with how to move all brands to master in brand#11.  The main problem is how to use query parameters to choose which requirejs modules to load (at requirejs time) and to use command line arguments to choose a brand for build time.  Any ideas?
[8/2/15, 10:05:55 PM] Jonathan Olson: We can't loa

[2015-08-03 05:38] samreid commented on #11
Based on the discussion above, I have made the following changes in my working copy.
1. Copied branch adapted-from-phet to the directory brand/adapted-from-phet/
2. Copied branch interoperable to the directory brand/interoperable/
3. Copied branch phet to the directory brand/phet
4. Changed `BRAND: '../../brand/js',` to `BRAND: '../../brand/' + phet.chipper.getBrandName() + '/js',` in hookes-law-c

[2015-08-03 05:44] samreid commented on #11
Note: when I commit I'll have to update _all_ of the config.js or things won't run or build.  Planning to do work on this shortly.  I predict many many commits below here :arrow_down:

[2015-08-03 05:55] samreid commented on #11
I query replaced the BRAND in all config files and checked to make sure none were missing (due to incorrect formatting).  I also started a grunt-all.sh but there are some false positives (lint failures etc) so this should receive further testing in the near future.

[2015-08-03 06:07] samreid commented on #11
I finished committing above.  I have a grunt-all.sh running but so far it has only identified pre-existing problems such as lint issues and missing license files.  I tested optics lab (the only repo that required a merge) and it seemed like it was working properly in requirejs mode.  So I recommend next steps for this issue: a full repository-wide build and fuzz-tests to make sure we didn't miss a

[2015-08-03 06:21] samreid commented on #11
Oops, I was living in the 'phet' brand this entire time.  I just merged 'phet' into 'master' moments ago.

[2015-08-03 06:22] samreid commented on #11
Another "next step" will be to delete the branches.

[2015-08-03 15:06] samreid commented on #11
All PhET developers will need to switch to the master branch of brand, I'll send an Google Groups email soon.

[2015-08-03 15:18] samreid commented on #11
Skype discussion with @pixelzoom:

[8/3/15, 9:14:29 AM] Chris Malley: The build file already exists. $HOME/.phet/build-local.json
[8/3/15, 9:14:47 AM] Chris Malley: The issue is how to read it in requirejs mode.
[8/3/15, 9:14:51 AM] Sam Reid: Exactly.
[8/3/15, 9:15:09 AM] Sam Reid: For people using phetmarks, we can include that in the links.
[8/3/15, 9:15:12 AM] Chris Malley: And query param (or

[2015-08-03 15:23] samreid commented on #11
I posted this note in the Google Group here: https://groups.google.com/forum/#!topic/developing-interactive-simulations-in-html5/QIuJJLeLqEk

[2015-08-03 16:03] pixelzoom commented on #9
This branch should be deleted when all brands are moved to master, see #11.

[2015-08-03 16:03] pixelzoom commented on #8
This branch should be deleted when all brands are moved to master, see #11.

[2015-08-03 18:06] samreid commented on #9
All brands got moved to master yesterday, but I'd like to look around the other branch issues before deleting these branches.  Reassigning to myself.

[2015-08-03 18:06] samreid commented on #8
All brands got moved to master yesterday, but I'd like to look around the other branch issues before deleting these branches. Reassigning to myself.

[2015-08-03 19:01] pixelzoom commented on #12
I don't see the correct URL indicated anywhere in this issue, so I'm assuming that http://phet.colorado.edu/en/licensing/html is the correct URL.  Assigning back to @aaronsamuel137 to verify. If that's the correct URL, then go ahead and close this issue.

[2015-08-03 23:17] aaronsamuel137 commented on #12
Yep that's correct. Closing.

[2015-08-03 23:17] #12 closed, assigned to aaronsamuel137

[2015-08-04 04:59] samreid commented on #19
adapted-from-phet is now the default brand, and can be overriden with a grunt option --brand or a query parameter ?brand

Closing.

[2015-08-04 05:10] samreid commented on #18
Two possibilities I see now:

(1) make it easy (and add instructions how) to modify the "adapted-from-phet" brand with the clients logo, etc.
(2) add instructions how the 3rd party can create their own subdirectory in brand, with their own company name.  For instance edubraintech (a company I just made up for this example) would create brand/edubraintech parallel to the other directories and use g

[2015-08-04 13:11] pixelzoom commented on #19
Reopening.

Did we bail on being able to specify the brand in $HOME/.phet/build-local.properties ?

[2015-08-04 14:22] samreid commented on #19
We did not bail on being able to specify the brand in $HOME/.phet/build-local.json, it is being tracked and labeled for discussion at the next developer meeting in https://github.com/phetsims/brand/issues/11

Please close if there is nothing else to do for this issue.

[2015-08-04 14:24] samreid commented on #11
In #19 @pixelzoom mentioned the filename was $HOME/.phet/build-local.properties but earlier in this issue the name is described as $HOME/.phet/build-local.json.  I'm not too familiar with it and need to know which one is the true one.  Are we reusing the java one or making a new json one?

[2015-08-04 16:10] pixelzoom commented on #11
Sorry... It's $HOME/.phet/build-local.json.  Java sims used $HOME/.phet/build-local.properties.

[2015-08-04 16:28] pixelzoom commented on #11
Search for "build-local" and you'll see how build-local.json is currently used by build-server, chipper and rosetta.

Search for "PREFERENCES_FILE" and you'll see what fields are currently defined.

[2015-08-04 20:18] jonathanolson commented on #11
Mistook the above few comments to describe how to find/update build-local to set brand="phet" as the default.

Maybe we want to notify everyone that "grunt --brand=phet" is now needed for dev/RC deploys?

[2015-08-04 20:30] pixelzoom commented on #11
I'm hoping that a grunt option won't be required for long, because this has already caused problems with a hookes-law dev version.  It should be fairly easy to add an option 'brand' field to build-local.json, for use by the build process.

[2015-08-04 20:37] pixelzoom commented on #11
I'm going to take a stab at adding support for 'brand' in build-local.json.

[2015-08-04 20:43] pixelzoom commented on #11
I'm confused... When I do a build with no brand option, it looks like I get the 'adapted-from' splash screen but the 'phet' PhET menu and menu items.  ??

[2015-08-04 21:06] pixelzoom commented on #11
Added build-time support for 'brand' in build-local.json in https://github.com/phetsims/chipper/commit/54d47ccda664658d5d163ffb5fd19e94b3831f7c. Add something like this to $HOME/.phet/build-local.json:

[code]

Grunt option `--brand` overrides what's in build-local.json.  The fallback is 'adapted-from'.

Note that requirejs-mode support is not yet implemented.

[2015-08-04 21:09] pixelzoom commented on #11
Requirejs mode order of precedence should be (pseudo code):

var brand = ( "brand" query param ) || ( "brand" field in build-local.json)  || 'adapted-from';

[2015-08-04 21:24] pixelzoom commented on #11
Regarding requirejs-mode support for reading build-local.properties, @jonathanolson and I are both inclined to skip this.  Here's the relevant Skype discussion:

[8/4/15, 3:11:31 PM] Chris Malley: Thoughts on how to best read build-local.json in requirejs mode?
[8/4/15, 3:11:52 PM] Jonathan Olson: Based on its location, that's tricky
[8/4/15, 3:12:08 PM] Jonathan Olson: Ideally we wouldn't even lo

[2015-08-04 21:28] pixelzoom commented on #11
Other developers (@samreid @jbphet @aaronsamuel137 @jessegreenberg), please weigh in on whether requirejs support for reading "brand" in build-local.properties is important to you. The alternative is that you'll be using the "adapted-from" brand by default, and will need to use the "brand" query parameter to get any other brand (e.g. "phet").

[2015-08-04 21:30] jbphet commented on #11
I'm fine with having it default to adapted-from and testing any brand-specific behavior using the query parameter.

[2015-08-04 21:31] #19 closed, assigned to pixelzoom

[2015-08-04 21:34] pixelzoom commented on #18
The correct thing to do would be to create your own brand, rather than perverting the "adapted-from" brand.  So I think we should steer people towards that by doing (2). Put instructions in master README.md.  That said... I'd bet most people will ignore the instructions and hack "adapted-from".

[2015-08-04 21:37] pixelzoom commented on #21
README.md (and a bunch of other top-level files) appears to have disappeared.

[2015-08-04 21:39] pixelzoom opened #22 "top-level files missing from brand"
Missing are:

README.md
.gitignore
LICENSE
package.json
Gruntfile.js

I realize that some of these moved into subdirs.  But we should still have these at top-level.

[2015-08-04 21:40] pixelzoom commented on #22
The various subdirs should have their own README.md files that are specific to those brands. They currently look like identical copies.

[2015-08-04 21:41] pixelzoom commented on #22
All 3 brand subdirs have MIT license in their LICENSE file. Can we move to a single LICENSE file at top level?

[2015-08-04 21:48] pixelzoom commented on #18
I was going to take a stab at this, but the top-level README.md is gone. See https://github.com/phetsims/brand/issues/21

[2015-08-04 22:17] samreid commented on #11
I almost always use phetmarks, and it would be easy enough to add ?brand=phet in those links.

[2015-08-05 03:38] samreid commented on #8
I can't think of anything else we will need from this branch.  I'll delete it.

[2015-08-05 03:38] samreid commented on #8
The `phet` branch is gone.  Closing.

[2015-08-05 03:38] #8 closed, assigned to samreid

[2015-08-05 03:39] samreid commented on #9
I can't think of anything else we will need this branch for.  Deleting and closing.

[2015-08-05 03:39] #9 closed, assigned to samreid

[2015-08-05 06:39] aaronsamuel137 commented on #11
I'm fine with a query parameter or with moving prefs to chipper and having it .gitignored. Not a strong preference.

[2015-08-05 16:20] samreid commented on #10
I started augmenting the documentation like so:

[code]

However, duplicating that in all of the Brands seemed like an anti-pattern.  Perhaps it would be best to factor this out into a Brand superclass or auxiliary function, even if only to factor out the documentation?

[2015-08-05 16:23] samreid commented on #10
Well, factoring this out looks like it would mean _another_ entry in the config.js files.  We currently have:

`BRAND: '../../brand/' + phet.chipper.brand + '/js',`

We could possibly have a BRAND and SELECTED_BRAND or something like that, but I'm not too sure about it.  @pixelzoom can you please advise?

[2015-08-05 16:24] samreid commented on #11
No plans to work on this at the moment. I'll unassign for now (though will probably reassign to @samreid after the upcoming developer meeting).

[2015-08-05 17:31] pixelzoom commented on #10
Discussed with @samreid via phone.

Put bulk of the documentation in 'adapted-from' brand.

Describe how to modify 'adapted-from' brand to create a custom brand, mention that Brand.name must be changed if you want to get rid of the "Adapted from" in the navbar.

[2015-08-05 17:41] samreid commented on #16
I added code to scale the image so that it matches the PhET logo height.  Any width is accommodated as long as there is enough space in the navbar (otherwise assertion error) and negative layout numbers.

Anyone want to review?

[2015-08-05 17:41] samreid commented on #16
Assigned to @pixelzoom since I recall he worked on navbar layout recently.

[2015-08-05 17:47] samreid commented on #18
@pixelzoom & I discussed this and decided to document adapted-from-phet (the default) as the template for new brands.  I'll create a new issue about adding this documentation (if there isn't already one).

[2015-08-05 17:48] samreid commented on #21
Add documentation about how to create your own brand based on the adapted-from-phet one, from #18

[2015-08-05 17:48] samreid commented on #18
Added to #21 above, closing.

[2015-08-05 17:48] #18 closed, assigned to samreid

[2015-08-05 17:51] samreid commented on #16
I should note I tested this with a new fake company logo I made up with dimensions 1000x200 and it worked well in the requirejs mode and built mode.  I also tested the phet logos and didn't see anything amiss.

[2015-08-05 17:52] samreid commented on #10
and link to this doc from the other brands.

This should be done in the readme, see #21

[2015-08-05 17:54] samreid opened #23 "Make sure brands are linted"
After moving things out of branches into master, we broke convention of having the "js" directory at the top level.  This means lint won't work out of the box.  We should find a way to lint the brand things.

[2015-08-05 18:06] pixelzoom commented on #16
I would probably factor out magic numbers like this:

[code]

This also makes me wonder why `logoScale` is an option.  I don't see it used anywhere, and setting it to something other than DEFAULT_LOGO_SCALE may break layout.  Should we remove it?

[2015-08-05 19:54] samreid commented on #16
Good thought, I'll remove it.

[2015-08-05 19:56] samreid opened #24 "Make sure brands are linted"
After moving things out of branches into master, we broke convention of having the "js" directory at the top level.  This means lint won't work out of the box.  We should find a way to lint the brand things.

[2015-08-05 20:01] samreid commented on #16
In the commit above:

Tested by running ABS in requirejs mode with default brand.  No problems noted.  @pixelzoom anything else to do here?

[2015-08-05 20:26] samreid commented on #10
Fixed above.  Anything else to do here @pixelzoom ?

[2015-08-05 21:09] samreid commented on #24
Duplicate of #23 somehow.  Closing.

[2015-08-05 21:09] #24 closed, assigned to samreid

[2015-08-05 23:28] samreid commented on #21
I finished a rough draft here: https://github.com/phetsims/brand/blob/master/README.md

@pixelzoom can you take a look or delegate to someone else?

[2015-08-05 23:30] samreid commented on #22
I restored these files, consolidated license files and added text about the image licensing in the README.  @pixelzoom can you take a look?

[2015-08-06 16:07] pixelzoom commented on #5
@samreid The 'phet' and 'interoperable' branches have been deleted. Can this branch also be deleted?

[2015-08-06 16:36] samreid commented on #5
Yes, I just deleted it. Closing.

[2015-08-06 16:36] #5 closed, assigned to samreid

[2015-08-06 16:40] pixelzoom commented on #21
Numerous tweaks to README files. Based to @samreid to review.  If these look OK, go ahead and close.

[2015-08-06 16:42] pixelzoom commented on #22
Looks great.  Files can't be linted yet, but that's covered in https://github.com/phetsims/brand/issues/23.

Closing.

[2015-08-06 16:42] #22 closed, assigned to pixelzoom

[2015-08-06 16:56] pixelzoom commented on #16
:+1: Closing.

[2015-08-06 16:56] #16 closed, assigned to pixelzoom

[2015-08-06 16:57] samreid commented on #21
@pixelzoom's changes look good, thanks.  Closing.

[2015-08-06 16:57] #21 closed, assigned to samreid

[2015-08-06 17:02] pixelzoom commented on #10
:+1: Closing.

[2015-08-06 17:02] #10 closed, assigned to pixelzoom

[2015-08-06 17:54] pixelzoom opened #25 "rename 'interoperable' brand to 'phet-io'"
8/6/15 dev meeting:
The public-facing logo for interoperable brands will be something like "PhET IO" or "PhET.io".  And it would be nice to have "phet" in the names of brands that are for exclusive use by PhET.  So we'll rename the 'interoperable' brand to 'phet-io'.

[2015-08-06 17:58] samreid commented on #23
I added brand to the list of files to be linted above.  It just searches for *.js files anywhere, not just in the brand/???/[specific-brand]/js directories, but there are no plans to put *.js files anywhere else in that repo.  @pixelzoom can you take a look?

[2015-08-06 18:06] pixelzoom commented on #4
Changed issue title. Per #25, 'interoperable' brand was renamed 'phet-io'.

[2015-08-06 18:08] zepumph commented on #11
Consensus from dev meeting 8/6. Not implement requirejs version reading of the build-local.json file. This will default to the adapted from phet brand. We will send out an email to the phet list serve to let everyone know what to expect here.

Add a brand query parameter to phetmarks to make build easier.

[2015-08-06 18:15] pixelzoom commented on #23
Sim build (e.g. hookes-law) is now failing with many lint errors related to node_modules.

[2015-08-06 18:17] samreid commented on #23
@pixelzoom pointed out that node_modules is getting hit here, and needs to be excluded.  I'll take care of this.

[2015-08-06 19:13] pixelzoom commented on #23
The problematic line is 91, because it includes .js files under brand/node_modules:

`libFiles.push( '../brand/**/*.js' );`

Would this work?

`libFiles.push( '../brand/*/js/**/*.js' );`

[2015-08-06 19:13] samreid commented on #23
I'll try that next.

[2015-08-06 19:15] samreid commented on #23
It looks like it works properly.  I tested with a stray debugger statement in one of the brands and it was caught.  I'll try npm install and make sure those files are properly skipped.

[2015-08-06 19:16] pixelzoom commented on #25
Work completed. @samreid could you review?

[2015-08-06 19:16] samreid commented on #23
After adding node_modules, I tested lint and the node_modules was skipped.  I'll commit shortly.

[2015-08-06 19:17] samreid commented on #23
Fixed above, @pixelzoom anything else?

[2015-08-06 19:28] pixelzoom commented on #23
This works if run from a sim directory, but not from within the brand directory. When run from within brand directory, it lints 0 files.  Eg:

[code]

[2015-08-06 19:28] pixelzoom commented on #23
... and I'm not sure why.

[2015-08-06 19:31] samreid commented on #23
The repoFiles is wrong, I can take a look.

[2015-08-06 19:33] samreid commented on #23
We could add custom logic for creating the repoFiles.  Currently hard coded to

[code]

We could say if(brand) then create a different pattern.  Or just make it so the only way to lint brand is when doing a lint:allFiles from some other repo.  What do you recommend?

[2015-08-06 19:39] pixelzoom commented on #23
allFilesToLint looks wrong to me, it contains nested arrays.  If I console.log it:

[code]

[2015-08-06 19:40] pixelzoom commented on #23
allFilesToLint looks wrong to me. libFiles is added as a nested array.  If I console.log it:

[code]

[2015-08-07 18:50] samreid commented on #11
I just posted a thread about branding changes with a link to the branding README, which has been reviewed by @pixelzoom and seems very complete:
https://groups.google.com/forum/#!topic/developing-interactive-simulations-in-html5/GYyEca_2VZg

[2015-08-07 18:50] #11 closed, assigned to samreid

[2015-08-08 03:12] samreid commented on #25
The change sets seemed reasonable, I didn't see any stray occurrences of `interoperable` in the code and running neuron (built and non-built) versions with phet-io were both correct.  Closing.

[2015-08-08 03:12] #25 closed, assigned to samreid

[2015-08-08 03:26] samreid commented on #23
I noticed this too.  When I got there it looked like this:

[code]

that is, `[[],string]` has been a longstanding implementation, not new in this issue.  No idea why it was done this way or why it worked.  Checking the history, I see that this strategy was implemented here:
https://github.com/phetsims/chipper/issues/51

When I tried flattening the array, it still seemed like everything worked pro

[2015-08-08 03:32] samreid commented on #23
Here is my test log.  Summary, linting Brand works now (from Brand repo and from sim repo) and linting sims still works after flattening the array:

[code]

[2015-08-08 03:33] samreid commented on #23
Fixed above, @pixelzoom can you please review?

[2015-08-10 18:59] pixelzoom commented on #23
Changed this rather odd formatting:

[code]

to this:

[code]

[2015-08-10 18:59] #23 closed, assigned to pixelzoom

[2015-09-04 20:06] amanda-phet commented on #4
Can this be closed? The logo has been decided on... is there more to do?

[2015-09-04 20:09] pixelzoom commented on #4
As noted in https://github.com/phetsims/brand/issues/4#issuecomment-122046200, we also need to decide what items are in the PhET menu and what information is displayed in the About dialog.  I don't see anything above about those aspects.  So this issue should remain open.

[2015-09-04 20:11] pixelzoom commented on #4
The PhET menu currently contains 2 items:

![screenshot_599](https://cloud.githubusercontent.com/assets/3046552/9693575/ab77c0f6-530e-11e5-9f9d-437f4c6170f5.png)

The About dialog currently looks like this:

![screenshot_600](https://cloud.githubusercontent.com/assets/3046552/9693587/c0d4249e-530e-11e5-8a15-bf63816b365a.png)

[2015-09-04 20:11] amanda-phet commented on #4
Thanks, I didn't read the comments carefully enough. I will assign this back to @ariel-phet to decide how to move forward with this.

[2015-09-04 20:15] pixelzoom commented on #4
For comparison, here are the PhET menu and About dialog for the 'phet' brand:

![screenshot_601](https://cloud.githubusercontent.com/assets/3046552/9693667/646f2568-530f-11e5-829d-a99f84e6a86f.png)

![screenshot_602](https://cloud.githubusercontent.com/assets/3046552/9693668/677ed6cc-530f-11e5-8ec7-5c01df45cb9e.png)

[2015-09-17 19:15] pixelzoom commented on #4
At 9/17/15 interoperability meeting, @kathy-phet asked that this issue be assigned to her.

[2015-11-16 04:21] pixelzoom opened #26 "add namespace"
See https://github.com/phetsims/tasks/issues/378

[2015-11-16 04:28] pixelzoom commented on #26
Hmmm.... This repo has no `js/` directory. Where to put `brand.js`?

[2015-11-16 19:31] samreid commented on #26
My first instinct was to put a separate namespace under each of the brand/js dirs.  But upon reflection--does brand need to be on the namespace?  If so, why?

[2015-11-16 19:40] pixelzoom commented on #26
Well, we decided to namespace all code that was namespace-able, but I guess we can revisit that. I guess one could argue that it might be useful to inspect `phet.brand.Brand` in the browser console.

[2015-11-17 03:20] samreid commented on #26
The rule imposed by the ?checkNamespaces is that every requirejs module have a corresponding global, so for consistency we should namespace the Brand.

[2015-11-18 22:58] pixelzoom commented on #26
It would be nice if we didn't have to duplicate `brand.js` in each of the subdirectories (adapted-from-phet/, phet/, phet-io/).  But I don't see how we can require `brand/js/brand.js` because require doesn't like relative paths.  Eg:

`var brand = require( 'BRAND/../../js/brand.js' );`

[2015-11-18 23:01] pixelzoom commented on #26
Hmm... I tried the above require, and it actually works.  Guess I was mistaken about relative paths with require.

[2015-11-18 23:06] pixelzoom commented on #26
I added namespacing using relative require paths. This seems a little iffy to me, so I'd like @samreid or @jonathanolson to have a look with high priority.

[2015-11-18 23:08] pixelzoom commented on #26
Perhaps it would be safer to change add something like this to config.js:

`BRAND_ROOT: '../../brand',`

and require the namespace like this:

`var brand = require( 'BRAND_ROOT/brand.js' );`

[2015-11-18 23:11] pixelzoom commented on #26
`BRAND` is currently set like this in config.js:

`BRAND: '../../brand/' + phet.chipper.brand + '/js',`

Perhaps it would be safer to add something like this to config.js:

`BRAND_ROOT: '../../brand',`

and require the namespace like this:

`var brand = require( 'BRAND_ROOT/brand.js' );`

... or maybe the relative path is OK?

[2015-11-19 17:13] jonathanolson commented on #26
Another alternative is to have the brand namespace declared somewhere besides in brand, e.g. JOIST/brand.

I'm currently fine with either of the other described approaches, as long as it works in require.js and build mode.

[2015-11-19 17:22] pixelzoom commented on #26
I tested the relative-path approach in both requirejs and build modes, didn't see any problems.

[2015-12-03 19:24] pixelzoom commented on #26
12/3/15 dev meeting, we decided to go with the relative-path approach. Will revisit if it causes issues.

[2015-12-03 19:24] #26 closed, assigned to samreid

[2016-06-28 00:18] andrealin opened #27 "Animate loading screen"
@ariel-phet @amanda-phet and I discussed having some sort of animation on the loading screen. I'm thinking about something simple like rotating between "Loading" "Loading." "Loading.." and "Loading..."

Assigning to myself.

[2016-06-28 00:50] samreid commented on #27
Our previous technical and design conversations about animating the loading screen (also called splash screen) are tracked over here: https://github.com/phetsims/joist/issues/68

[2016-06-28 03:08] andrealin commented on #27
Closing this because it's a duplicate of phetsims/joist#68

[2016-06-28 03:09] #27 closed, assigned to nobody

[2016-11-30 18:18] samreid opened #28 "branch: progress-indicator-2"
See https://github.com/phetsims/joist/issues/348

[2016-12-09 00:11] samreid commented on #28
Merged, deleted, closing.

[2016-12-09 00:11] #28 closed, assigned to samreid

[2016-12-11 06:45] samreid opened #29 "Running in RequireJS without specifying brand still shows the PhET splash screen"
Running in RequireJS without specifying brand still shows the PhET splash screen.  The navbar shows "Adapted from PhET".  What logo would a built version have?  Did this break recently?  Assigned to developer-meeting unless some brave soul volunteers before then.

[2016-12-15 17:55] samreid commented on #29
This is covered in https://github.com/phetsims/joist/issues/383, closing.

[2016-12-15 17:55] #29 closed, assigned to nobody

[2016-12-17 07:07] samreid opened #30 "branch: splash-script"
See https://github.com/phetsims/joist/issues/382

[2017-04-04 17:42] pixelzoom opened #31 "About dialog shows stale copyright from brand"
After publishing Unit Rates 1.0.0, I noticed that the copyright in the About dialog is out of date.  It still says "Copyright 2004-2016".   This will be wrong for any sims published so far in 2017 (Make A Ten, States Of Matter, States Of Matter: Basics,...)   The copyright currently lives in the brand repository, so adding this issue here.

There are 2 problems:

(1) How to keep the copyright up-t

[2017-04-04 22:41] samreid commented on #31
We would have to make sure the clock on build server is right.  I vaguely remember once on one of phet's server it was way off.

[2017-04-05 04:03] ariel-phet commented on #31
I will not be at dev meeting this week, but my 2 cents would be that inserting the current year in the build process seems like a good solution if possible - then it is automated and less likely to be missed.

[2017-04-05 04:22] samreid commented on #31
Changing chipper to use current date for builds will still show wrong date for legacy maintenance deploys because they would be using old chipper.

[2017-04-05 16:10] pixelzoom commented on #31
My opinion is that it would be fine to ignore this issue for legacy maintenance deploys, and address this "going forward".   ... unless there is some legal issue where CU cares about having the correct copyright in the About dialog.

Thinking out loud... Another place we could put the copyright is in package.json, under the "phet" data structure.  package.json is a file that needs to be modified a

[2017-04-10 17:51] mattpen commented on #31
I think we can rely on the clock being correct for build-server for the purpose of this issue.  We are constantly recording timestamps for various activities on phet-server and it would be bad news for many urgent reasons if the clock is wrong.

[2017-04-13 19:23] pixelzoom commented on #31
4/13/17 dev meeting:

Ask @kathy-phet whether this needs to be addressed.

[2017-04-13 19:24] pixelzoom commented on #31
We're also wondering why the copyright is in brand.

[2017-04-17 19:42] pixelzoom commented on #31
Questions for @kathy-phet:

(1) Should the copyright dates that appears in the About dialog be accurate for all published simulations? Or is it OK if the copyright dates are incorrect for simulations that are built with older shas?

(2) Should the copyright be configurable based on brand, or should the copyright always be attributed to PhET regardless of brand?

[2017-04-20 16:58] pixelzoom commented on #31
Feedback from @kathy-phet at status meeting:

• Continue to specify copyright in Brand
• Make copyright date accurate going forward.
• No need to address this for sims already published.

[2017-04-20 17:04] pixelzoom commented on #31
Thoughts on how to address this...

Change `copyright` in Brand.js to:

[code]

In AboutDialog.js,  use `StringUtils.fillIn` to replace `{{year}}`.  If it's a built version, get the year from `phet.chipper.buildTimestamp`.  Otherwise get the year from `Date.now`.

Questions:

(1) Should this only be done for `phet` and `phet-io` brands, or should we replace `{{year}}` if it's provided in `copyrigh

[2017-04-20 17:31] jonathanolson commented on #31
buildTimestamp is updated whenever translations are updated. Is that the desired behavior?

Sounds good.

Seems simple to always replace.

[2017-04-20 17:39] samreid commented on #31
There was a conversation long ago about changing copyright statements in our JS files from `2004-{{now}}` to `{{sim start date}}-{{now}}`.  Should the same be done for published sims?

[2017-04-20 17:55] pixelzoom commented on #31
4/20/17 dev meeting

• @mattpen pointed out that every sim likely uses some piece of code who copyright is 2004.  So we'll go with `2004-{{year}}`.

• @jonathanolson pointed out it's actually `2002-{{year}}`, and I confirmed that `2002` appears in .js code.

• Replace `{{year}}` in all cases where `copyright` is provided in Brand.

[2017-04-20 19:09] pixelzoom commented on #31
Implemented in above commit.

I then tested the About dialog in Molarity, for all brands, in requirejs and built modes.  Screenshots:

requirejs mode, brand=phet:
![screenshot_222](https://cloud.githubusercontent.com/assets/3046552/25248125/5084d414-25ca-11e7-9505-fc7802bf2640.png)

requirejs mode, brand=phet-io
![screenshot_223](https://cloud.githubusercontent.com/assets/3046552/25248135/5c0d27be

[2017-04-20 19:10] pixelzoom commented on #31
[code]

Randomly assigned to @jonathanolson to review.

[2017-04-20 19:22] jonathanolson commented on #31
Looks good to me.

Also a possibly-improved method for future assignment:
[code]
;)

[2017-04-20 19:22] #31 closed, assigned to jonathanolson

[2018-02-08 17:24] pixelzoom opened #32 "branch: phet"
Identified by `print-branches.sh`. Please describe.

[2018-02-09 06:26] samreid commented on #32
Fully merged to master, deleted, closing.

[2018-12-30 03:51] pixelzoom commented on #4
@ariel-phet @samreid It seems like this has been done.  Can this issue be closed?

[2019-01-02 15:17] samreid commented on #4
We now have the PhET-iO logo/splash screen and some additional text in the about dialog:

![image](https://user-images.githubusercontent.com/679486/50598054-c53be280-0e66-11e9-8a76-9a059be65dfb.png)

I'm not aware of more planned work along these lines, leaving assigned to @ariel-phet to comment.

[2019-01-09 18:02] ariel-phet commented on #4
Everything here seems pretty settled for the moment, I imagine any tweaks to the brand are more appropriate for specific polish issues in the future. Closing.

[2019-01-09 18:02] #4 closed, assigned to ariel-phet

[2019-02-01 18:39] amanda-phet opened #33 "Update all registered logos with trademarked logo"
@kathy-phet requested that all instances of the registered logo be replaced with a trademarked logo.

I will update the asset files in this repo (phet and adapted from phet, since phet-io already uses TM) and png files and commit.

[2019-02-04 19:21] amanda-phet commented on #33
I updated the PhET logo assets and images, as well as the adapted-from-phet assets and images.

@samreid can you please verify that I did everything correctly?

Also, I skipped the logo-on-white.png under the PhET brand because it is identical to logo.png, since we made the change years ago to use one shade of yellow for all versions of the logo. Should we replace logo-on-white.png as well?

[2019-02-04 19:34] samreid commented on #33
I relabeled as "blocks-publication" since this affects every simulation.  For reference, "blocks-sim-publication" only blocks a single particular simulation.

[2019-02-04 20:31] samreid commented on #33
From slack:

Jonathan Olson [1:03 PM]
Is it ever expected to have a half-size progress bar?
Pasted image at 2019-02-04, 1:03 PM
![image](https://user-images.githubusercontent.com/679486/52235382-23525000-2881-11e9-8956-1dc27e8219d0.png)

Steele Dalton [1:03 PM]
yea man

Sam Reid [1:04 PM]
That looks buggy

Steele Dalton [1:04 PM]
only when you want to load interactive, but not load simulations

Jo

[2019-02-04 20:37] samreid commented on #33
It looks like the SVG viewBox approximately doubled in size.  The original dimensions were:

[code]

And the new dimensions are:

[code]

I'm not too familiar with SVG sizing, but if we can make sure the new SVG has the same dimensions as the prior SVG then it will make updating simpler.

[2019-02-04 20:40] pixelzoom commented on #33
I said:

Here's a screenshot.

<img width="768" alt="screenshot_1018" src="https://user-images.githubusercontent.com/3046552/52235825-6fea5b00-2882-11e9-8d29-22ba20942015.png">

[2019-02-04 20:44] samreid commented on #33
@amanda-phet want to take it from here, or should I explore further?

[2019-02-04 20:52] samreid commented on #33
I tried loading the prior SVG file into illustrator, then I cut the "TM" out of the new file and pasted it into the old file, then used Illustrator "Save", and it seemed to work OK, but it would be best for @amanda-phet to take a look to make sure to get the "TM" in just the right size/position.

![image](https://user-images.githubusercontent.com/679486/52236396-f81d3000-2883-11e9-9999-4d468a49da1

[2019-02-04 22:18] samreid commented on #33
I confirmed the PNGs and PhET-brand SVG have the same dimensions.  The PhET-brand SVG has a different viewbox, but hopefully that is not a problem.

However, the Adapted from PhET SVG has different dimensions.  The original dimensions were:
[code]
and the new dimensions are:

[code]

Can this be corrected?

[2019-02-04 22:22] samreid commented on #33
Yes please.

Also, I noticed that the "TM" exceeds the rightmost bounds of the top of the "T" for the PNG, but not for the SVG.  The "TM" is proportionately much smaller in the SVG.  Is that by design?

[2019-02-04 22:24] amanda-phet commented on #33
In the previous comment the dimensions said 276x132 so I assumed it was the same for both logos.

Can you show me what you mean?

Yes. The TM (and previously the (R)) is smaller in large logos, and larger in small logos. The TM should be the same width as the (R) for all logos.

[2019-02-04 22:28] samreid commented on #33
![image](https://user-images.githubusercontent.com/679486/52241499-1e959800-2891-11e9-9410-55b9b3a2bb85.png)

[2019-02-04 22:30] samreid commented on #33
Looks like this is not a problem for the PhET-brand one.  I used a paint fill to see where the "feathered edges" of the T and TM extend to.

![image](https://user-images.githubusercontent.com/679486/52241735-bb583580-2891-11e9-9cdb-315a507518f6.png)

[2019-02-06 16:58] samreid opened #34 "Maintenance release to convert R to TM logos."
In #33 @amanda-phet converted the logos to use TM.  Kathy said:

Some questions:
1. Timeline, priority and assignee (see also https://github.com/phetsims/perennial/issues/110 )
2. Will this be for PhET-iO simulations as well, or can they be skipped?

[2019-02-06 18:10] amanda-phet commented on #34
My guess is they can be skipped since that logo already uses TM.

[2019-02-06 23:47] pixelzoom commented on #34
Wondering why (c) would have been in the logos. @samreid Do you mean convert from (R) to TM ?

[2019-02-06 23:48] samreid commented on #34
Corrected, thanks!

[2019-02-07 03:43] pixelzoom commented on #33
Is this being done because PhET trademarks are not registered?

If that's the case... Does this paragraph need to change at https://phet.colorado.edu/en/licensing/html#agreement-III ?

[2019-02-07 03:45] pixelzoom commented on #33
Hmmm... This website indicates that PhET's logo is a registered trademark (word mark),  with registration #4572418. https://trademarks.justia.com/861/62/phet-86162666.html

[2019-02-07 04:23] kathy-phet commented on #33
We are registered. It’s because we are international. Registration is by country.

Google uses TM for that reason, even though they are also registered in a number of countries but not every country.

Kathy
Sent from my iPhone

On Feb 6, 2019, at 8:45 PM, Chris Malley <notifications@github.com<mailto:notifications@github.com>> wrote:

Hmmm... This website indicates that PhET's logo is a registered

[2019-02-07 04:24] pixelzoom commented on #33
Thanks for the clarification.

[2019-02-07 21:10] jessegreenberg commented on #33
Discussed during dev meeting and reviewed, this doesn't need to block publication and changes only involved images and SVG assets.

[2019-02-07 21:11] jessegreenberg commented on #33
Before going through maintenance releases, @kathy-phet and @amanda-phet should review the changes.

#34 will cover the maintenance releases.

[2019-02-07 21:47] samreid commented on #34
Please note https://github.com/phetsims/brand/issues/33#issuecomment-461597350

Also, @ariel-phet pointed out that he saw an issue with the shish-ka-bob menu that he may want to address in this same maintenance release.

[2019-02-08 18:41] amanda-phet commented on #33
@samreid said

This was the case in the original logo, and the "R" also exceeded the bounds. I replaced the R with TM without noticing it in the original, so I'm updating all of the adapted-from-PhET assets again to look better. @samreid it would be great if you could confirm that the newest logos look better.

[2019-02-10 04:50] samreid commented on #33
The alignment in the adapted from PhET logo seems better to me:

![image](https://user-images.githubusercontent.com/679486/52529725-47b09100-2cb4-11e9-8f9b-1bf6a64a9595.png)

However, when I loaded the adapted-from-phet SVG file in illustrator and fit the artboard to the art bounds, I noticed there was an extra copy:

![image](https://user-images.githubusercontent.com/679486/52529732-87777880-2cb4

[2019-02-11 16:12] amanda-phet commented on #33
You're right @samreid , I made a copy because I converted the text to outlines and didn't delete the text version. Should be fixed now.

[2019-02-11 16:26] samreid commented on #33
Thanks @amanda-phet, that looks fixed.

[2019-02-12 04:44] ariel-phet commented on #33
@samreid this all looks pretty good, but there is one very minor polish (which also exists on published sims)

The "kabob" is not quite aligned with the logo (I added white lines for reference). It looks like a small tweak to spacing or such might fix this issue.

![menu](https://user-images.githubusercontent.com/4051174/52612256-297a9a80-2e46-11e9-88f9-8b76dd6bdd7e.PNG)

[2019-02-12 15:07] samreid commented on #33
I adjusted the location of the KebabMenuIcon and adjusted the spacing to align with the logo:

![image](https://user-images.githubusercontent.com/679486/52644985-21017e80-2e9d-11e9-8db4-4dc131e58e85.png)

In context:

![image](https://user-images.githubusercontent.com/679486/52645033-34ace500-2e9d-11e9-9c29-d03a0c13af90.png)

I'll commit this, but I'm happy to make further adjustments as desired.

[2019-02-12 17:45] ariel-phet commented on #33
@samreid I checked on master and the spacing and such looks good. However, when I compared to a published sim it looks like the height of the navbar changed slightly. On a published sim (EFAC for instance) the Navbar on master looks like the black band is about a pixel or so shorter. I don't think that is necessarily a problem, but I am curious if that change was intentional?

[2019-02-12 18:03] samreid commented on #33
I didn't intentionally change the navbar height.  To investigate further, I launched:
https://phet.colorado.edu/sims/html/energy-forms-and-changes/latest/energy-forms-and-changes_en.html
and
http://localhost/energy-forms-and-changes/energy-forms-and-changes_en.html?brand=phet&ea

in adjacent tabs in Mac Chrome and Mac Firefox and CMD+OPT+ARROW to flip back and forth and I couldn't distinguish betw

[2019-02-12 18:10] ariel-phet commented on #33
@samreid I did a local pull, and was testing on Chrome Win 7, flipping back and forth. I put a pixel ruler on the screen to see the difference, it was about 1 pixel.

[2019-02-12 18:33] samreid commented on #33
I used Windows 10 Pro Chrome to compare phettest (with pulled joist) to published EFAC and again the navigation bar sizes were indistinguishable.  I recommend assigning another developer to investigate and see if they can reproduce the problem and isolate the cause.

[2019-02-13 18:51] ariel-phet commented on #33
@samreid checked on Win 7 FF, issue does not appear

Checked on Win 10 FF and Chrome, issue does not appear

Since it is only a pixel on Win 7 Chrome, and pretty subtle I think we can proceed.

[2019-02-13 23:21] samreid commented on #33
For this issue, I double checked that the changed PNG and SVG files have the correct width and height, and the new ones have "TM" instead of "R".  @ariel-phet signed off as a designer we revised the size of the kebab menu to match the logo.  The only thing I'm aware of that we may want to discuss or improve for this issue is for the PhET brand logo SVG, which is shown for the splash screen, the "T

[2019-02-13 23:26] samreid commented on #33
One more thing I noticed is that when loading this SVG in illustrator the artboard doesn't align with the artwork.

![image](https://user-images.githubusercontent.com/679486/52751227-02d67400-2fac-11e9-95d3-784d52880520.png)

I do not know enough about SVG to know what's causing this problem, but I should also note this is not a new problem, our old SVG has been off-centered like this for ages.  W

[2019-02-14 02:39] ariel-phet commented on #33
@samreid the Splash screen logo should just match the navbar logo (in terms of size and placement of the TM). If you need a new asset for this, I am sure @amanda-phet will be able to oblige.

[2019-02-14 03:13] amanda-phet commented on #33
The splash screen does not match the navbar because of its size. Kathy hasn't defined a hard and fast cutoff for when to use the various sizes, but the size and placement of the registered symbol was determined years ago. For "medium-large" versions of the PhET logo, the TM (previously the R) should be the size you see in the splash screen. For "small" versions of the PhET logo (when you would def

[2019-02-14 03:18] amanda-phet commented on #33
I moved the artwork to the center of the artboard, committed it (https://github.com/phetsims/brand/commit/df790422b9249fc19d7b77a0afecdeb4b28cc7cc) and downloaded it again. Seems to be fixed.

[2019-02-14 03:21] amanda-phet commented on #34
The changes look good to me.

[2019-02-14 03:59] samreid commented on #33
Sounds OK to me.  Also, can you comment on why the TM isn't centered or right aligned?  I'm not sure whether that would look better at all though.  Perhaps it was just to match the style from years ago.

Perhaps it doesn't matter too much because you can't see both at the same time, but I snapshotted both from master and saw that they are off by a factor of around 2:

![image](https://user-images.

[2019-02-14 17:19] amanda-phet commented on #33
When we settled on the location for the R, I recall doing different things to align it and play with the size, and this location looked the most natural. We compared with other popular logos out there, and they seemed to have a similar location- they appear to either be nestled in a cozy spot or were adjacent to the logo. When it was aligned with the right edge of PhET, it started to look like a p

[2019-02-14 17:22] ariel-phet commented on #33
Agreed with @amanda-phet, I have no strong preference on how the splash screen looks, if you think it should be tweaked, discuss with @kathy-phet. If not, please move forward.

[2019-02-14 17:54] samreid commented on #33
Thanks for the additional discussion.  I'm not aware of anything else that remains to do for this issue before maintenance releases begin in https://github.com/phetsims/brand/issues/34.  Please correct me and reopen if I'm wrong.  @amanda-phet and @ariel-phet thanks for your help here.

[2019-02-14 17:54] #33 closed, assigned to samreid

[2019-02-14 19:15] samreid commented on #34
Note there are commits across the brand repo and joist repo that you will need.  Please see #33 for full details (note it's a long issue so some commits and comments are collapsed in the GitHub thread).

UPDATE: And also a commit from #35

[2019-02-14 19:15] pixelzoom commented on #34
Over in https://github.com/phetsims/perennial/issues/110:

[2019-02-25 18:06] kathy-phet commented on #33
@samreid , @ariel-phet , @amanda-phet - I looked on phettest, and the new TM trademarks look good there. I found one other issue that needs to be addressed as part of maintenance, so will start a new issue about that.

[2019-02-25 18:16] kathy-phet opened #35 "Update "About" screen to remove R from PhET"
The PhET says ® on it in the 'About' screen. We still want to indicate that this is our trademark so change that line to read ...

PhET™ Interactive Simulations

I also reviewed the link to Terms, Privacy, and Licensing, and while that says we are a registered trademark, I think it is fine. We are registered, and people should know that. The main issue is that our sims our used in so many places w

[2019-02-25 18:24] kathy-phet commented on #34
Before doing maintenance, address issue [phetsims/brand#35](https://github.com/phetsims/brand/issues/35)

[2019-02-25 18:32] samreid commented on #35
I pushed a proposed fix.  In context it looks like this:

![image](https://user-images.githubusercontent.com/679486/53359617-9c791c00-38f0-11e9-94f6-45fb4a05a9b1.png)

The previous unicode for (R) was also embedded in a `<sup>` superscript.  I also tried that for the TM but it made it very high and tiny:

![image](https://user-images.githubusercontent.com/679486/53359650-bd417180-38f0-11e9-866e-b6

[2019-02-25 18:42] kathy-phet commented on #35
I think I prefer the non-sup version, but could go either way. @ariel-phet - do you have a preference here?

[2019-02-26 02:25] ariel-phet commented on #35
non-sup is the way to go @samreid

[2019-02-26 02:46] #35 closed, assigned to samreid

[2019-02-26 02:48] ariel-phet commented on #34
Looks like @samreid has committed a fix for https://github.com/phetsims/brand/issues/35

I think we are all good to go here. I am just going to verify everything on master.

[2019-02-26 03:03] ariel-phet commented on #34
All looks good over to you @Denz1994!

[2019-03-01 18:11] samreid commented on #34
@jonathanolson and @Denz1994 and I reviewed the changes that will be necessary for this:

We identified:
* brand/phet/logo-on-white.png
* brand/phet/logo.png
* brand/phet/splash.svg
* brand/phet/js/Brand.js
* both files in https://github.com/phetsims/joist/commit/6f2d60ba35ce4de9a2cafa060c42efa1107fac8e

We also noticed some changes in the SVG metadata and we aren't 100% sure that has been fully c

[2019-03-01 19:55] Denz1994 commented on #34
During[ maintenance release](https://github.com/phetsims/perennial/blob/master/doc/automated-maintenance-process.md ) step 8 for branch molecule-shape 1.1. The splash image has different dimensions causing the splash image to be off-centered during sim startup. It looks like we will need to patch more than what was expected from https://github.com/phetsims/brand/issues/34#issuecomment-468757790.

[2019-03-01 21:32] samreid commented on #34
My apologies for the trouble.  Can you describe how to reproduce the problem?  I checked out molecule-shapes 1.1 and ran grunt checkout-shas, and the logos still show (R) instead of TM.

UPDATE: master shows `width="276px" height="132px"`, whereas the molecule shapes one has `width="504px" height="360px"`, so we will likely need to (a) republish it from newer shas or (b) create changes that are co

[2019-03-02 20:39] samreid commented on #34
As I was looking at this, I noted the polygon fill have trailing tabs:

[code]

But it appears it has been that way for a long time.

[2019-03-08 18:17] Denz1994 commented on #34
During `Maintenance.updateDependencies()` several branches failed to build. We should check if branches build before Maintenance.updateDependencies(). Currently, the process assumes successful builds.

Maintenance.json  treats failed builds as if the shas have already been committed successfully, even during a failed build. Manually updating each failed build is required as a workaround.

[2019-03-08 18:37] jonathanolson commented on #34
It looks like due to phetmarks incompatibility changes with master and old branches, we'll need to maintenance release https://github.com/phetsims/chipper/issues/720 as part of it.

[2019-03-08 20:07] Denz1994 commented on #34
Recording failed builds in this issue:

[code]

Proceeding error after each Maintenance task failure reads:
[code]

[2019-03-19 18:34] Denz1994 commented on #34
The below code block was used to add phetmarks SHA to repos dependencies.json with @jonathanolson.

[code]

[2019-03-19 19:28] Denz1994 commented on #34
Storing relevant SHAs in this issue:
[code]

[2019-03-29 21:55] jonathanolson commented on #34
List of sims with patches:

[code]

verified for main brand patches (for phet and phet-io, the phetmarks patch, and the XHTML patch if needed).

[2019-03-29 21:58] jonathanolson commented on #34
Verification code:
[code]

[2019-04-04 19:03] jonathanolson commented on #34
Maintenance release for this completed, closing.

[2019-04-04 19:03] #34 closed, assigned to jonathanolson, Denz1994

[2021-04-20 22:40] zepumph commented on #32
Should be re-deleted as part of phetsims/special-ops#198

[2021-04-23 15:26] samreid commented on #32
Deleted via the GitHub web interface, closing.

[2021-04-23 15:26] #32 closed, assigned to samreid

[2022-11-17 15:24] samreid opened #36 "Transpiler doesn't visit newly added brands"
As reported in the Google Group, the transpiler doesn't visit unknown brands: https://groups.google.com/g/developing-interactive-simulations-in-html5/c/m8VAhpZsC90

This makes it difficult for 3rd parties to add their own branding.

[2022-11-17 15:33] samreid commented on #36
I added a `--brands` option so the transpiler can be invoked like so:

[code]

This seems good enough for now, but eventually this should be integrated into the `grunt` process.